// font family
$montserrat: "Montserrat", sans-serif;
$inter: "Inter", sans-serif;
$helvetica:'helvetica';
$helveticacompressed:'helveticacompressed';
$digital-7: 'digital-7';

// color
$color-orange:#F97316;
$color-blue:#3B82F6;
$color-green:#10B981;
$color-deepblue:#181935;
$color-body:#0F172A;
$color-gray:#374151;
$color-white:#fff;
$color-back:#FBFBFB;
$color-black:#000;
$color-2:#000207;
$color-3:#181C2A;
